a {
  color: #222;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.span-col-4 {
  grid-column: span 4 / auto;
}
.span-col-3 {
  grid-column: span 3 / auto;
}
.span-col-3 .container {
  margin-top: 30px;
  width: 100%;
}
.span-col-1 {
  grid-column: span 1 / auto;
}
.span-col-1 .container1 {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 77px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.94);
  border-top: 2px solid #fa7d3c;
}
.header .logo {
  display: block;
  margin-left: 50px;
  width: 140px;
  height: 48px;
  cursor: pointer;
  background: url("../img/WB_logo.png") no-repeat 0 40%;
}
.header .Icon {
  margin-right: 5px;
}
.header .searchHot {
  width: 250px;
}
.header .hideHotList {
  margin-top: 373px;
  position: absolute;
  width: 250px;
  height: 325px;
  right: 97px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  float: right;
}
.header .hideHotList ul li:first-child {
  color: #fa7d3c;
}
.header .hideHotList ul li {
  width: 100%;
  height: 32px;
}
.header .hideHotList ul li i {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #747271;
  border-radius: 50%;
  text-align: center;
  margin-left: 5px;
}
.header .hideHotList ul li a {
  float: left;
  color: #222;
  margin-left: 5px;
  line-height: 20px;
}
.header .hideHotList ul li span {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
  background: #f51212;
}
.header #navbarSupportedContent .nav-link {
  color: #222;
}
.content-left {
  height: 100%;
  width: 100%;
  margin-top: 74px;
}
.content-left .content-left-title {
  float: left;
  width: 2%;
  font-size: 16px;
  text-align: center;
}
.content-left .content-left-title .nav a {
  margin-top: 5px;
}
.content-left .content-left-title .nav a:hover {
  background: red;
}
.content-left .content-left-title .active {
  background: red;
}
.content-left .content-left-list {
  float: right;
  width: 98%;
  height: 100%;
}
.content-left .content-left-list .c-l-banner1 {
  width: 100%;
  height: 100%;
}
.content-left .content-left-list .c-l-card1 {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.content-left .content-left-list .c-l-card1 .imgb {
  width: 100%;
  height: 100%;
}
.content-left .content-left-list .c-l-card1 .c-t-bottom small {
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}
.content-left .content-left-list .c-l-card1 .c-t-bottom .t-m-aut {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.content-left .content-left-list .c-l-card1 .c-t-bottom .t-m-aut img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0;
}
.content-left .content-left-list .c-l-card1 .c-t-bottom .t-m-Icon {
  float: right;
}
.content-left .content-left-list .c-l-card1 .c-t-bottom .t-m-Icon i {
  font-size: 16px;
  margin-right: 2px;
}
.content-left .content-left-list .pubuContainer {
  margin: 10px;
  column-count: 3;
  column-gap: 10px;
}
.content-left .content-left-list .pubuContainer .box {
  margin-bottom: 10px;
  border: 1px solid #cf2929;
}
.content-left .content-left-list .pubuContainer .box img {
  width: 100%;
  height: 100%;
}
.content-right {
  margin-top: 104px;
  height: 100%;
}
.content-right .container1 {
  width: 100%;
  height: 370px;
  padding: 10px 10px;
  background: #f0f0f0;
}
.content-right .container1 ul li {
  width: 50%;
  text-align: center;
}
.content-right .container1 ul li .active {
  background: #fff;
  color: #222;
  border-bottom: 2px solid orange;
}
.content-right .container1 .changeTab {
  padding: 10px 10px;
  background: #fff;
}
.content-right .container1 .changeTab1 {
  padding: 10px 10px;
  background: #fff;
  border: 1px solid red;
  position: relative;
}
.content-right .container1 .changeTab1 .autorB {
  margin: 0;
  width: 100%;
  height: 60px;
  margin-top: -53px;
  position: absolute;
  justify-content: center;
  vertical-align: middle;
}
.content-right .container1 .changeTab1 .autorB img {
  width: 60px;
  height: 60px;
  font-size: 0;
  border-radius: 50%;
}
.content-right .container1 .changeTab1 p {
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.content-right .container1 .changeTab1 p small {
  font-size: medium;
}
.content-right .container1 .changeTab1 p small span {
  color: #222;
  font-size: large;
}
.content-right .container1 .tab1 .boxContent {
  padding-top: 20px;
}
.content-right .container1 .tab1 .boxContent .inputDiv #pass {
  color: #222;
  position: relative;
  background-position: -39px -84px;
  background-image: url("../img/sprite_login.png");
  background-repeat: no-repeat;
  text-align: center;
}
.content-right .container1 .tab1 .boxContent .inputDiv #phone {
  color: #222;
  position: relative;
  background-position: 11px -84px;
  background-image: url("../img/sprite_login.png");
  background-repeat: no-repeat;
  text-align: center;
}
.content-right .container1 .tab1 .check {
  height: 30px;
  margin: 10px 0px;
}
.content-right .container1 .tab1 .check input {
  display: inline-block;
  margin-top: 1px;
}
.content-right .container1 .tab1 .check span {
  display: inline-block;
  height: 13px;
  font-size: 10px;
  margin-top: 5px;
}
.content-right .container1 .tab1 .check a {
  float: right;
  display: block;
  height: 13px;
  font-size: 10px;
  margin-top: 5px;
  margin-right: 5px;
  color: #f77c3d;
}
.content-right .container1 .tab1 .loginBtn {
  width: 100%;
  margin-top: -5px;
}
.content-right .container1 .tab1 .loginBtn a {
  text-align: center;
  display: block;
  background: #ff8140;
  border: 1px solid #f77c3d;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 32px;
  line-height: 33px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.content-right .container1 .tab1 .loginBtn a span {
  font-size: 16px;
}
.content-right .container1 .tab1 .resigerBtn {
  margin-top: 12px;
  height: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  border-bottom-color: rgba(204, 204, 204, 0.5);
}
.content-right .container1 .tab1 .resigerBtn span {
  margin-left: 10px;
  float: left;
  margin-right: 5px;
  font-size: 10px;
}
.content-right .container1 .tab1 .resigerBtn a {
  float: left;
  color: orange;
  font-size: 10px;
}
.content-right .container1 .tab2 {
  margin-bottom: 54px;
}
.content-right .container1 .tab2 .content-box {
  position: relative;
  width: 172px;
  height: 190px;
  margin: auto;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 14px;
  margin-top: 15px;
}
.content-right .container1 .tab2 .content-box img {
  border: 0;
  height: 150px;
  width: 150px;
}
.content-right .container1 .tab2 .resigerBtn {
  text-align: center;
  margin-top: 12px;
  position: relative;
  width: 172px;
  margin: auto;
  height: 30px;
}
.content-right .container1 .tab2 .resigerBtn span {
  margin-left: 10px;
  float: left;
  margin-right: 5px;
  font-size: 10px;
}
.content-right .container1 .tab2 .resigerBtn a {
  float: left;
  color: orange;
  font-size: 10px;
}
.content-right .container2 .c-m-cd {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.content-right .container2 .c-m-cd img {
  width: 100%;
  height: 100%;
}
