* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../img/reg_repeat_bg.png") repeat-x #bee1f5;
}
.header .header-line {
  height: 3px;
  border-bottom: 1px solid #e6f1f9;
  background: url("../img/top_line_bg.png") repeat-x center 0;
  overflow: hidden;
}
.header .header-logo {
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
  height: 164px;
  background: url("../img/bg_reg_wave.png") no-repeat center bottom;
}
.header .header-logo .weiboLogo {
  width: 200px;
  height: 72px;
  margin: 0 auto;
  margin-top: 26px;
  background: url("../img/logo_big.png") no-repeat;
}
.main {
  width: 900px;
  height: 1000px;
  margin: 0 auto 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #98b4c4;
  -moz-box-shadow: 0px 2px 3px #98b4c4;
  -webkit-box-shadow: 0px 2px 3px #98b4c4;
}
.main .main-tab {
  padding: 24px 0 22px 40px;
}
.main .main-tab a {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  color: #333;
  line-height: 33px;
}
.main .main-tab .cur {
  border-bottom: 3px solid #ffa00a;
}
.main .main-tab .vline {
  margin: 0 19px;
  color: #999;
}
.main .main-content {
  background-position: 630px -45px;
}
.main .main-content .m-c-form {
  display: block;
  float: left;
  width: 600px;
  margin: 0px 0 0 20px;
  padding-bottom: 78px;
  border-right: 2px dotted #ccc;
}
.main .main-content .m-c-form .inputM {
  width: 300px ;
  float: left;
  margin-top: 15px;
}
.main .main-content .m-c-form .display-none {
  margin-top: 15px;
  float: left;
  display: inline-block;
  width: 200px;
  height: 37px;
}
.main .main-content .m-c-form #spann {
  margin-top: 15px;
  display: block;
  width: 200px;
  height: 37px;
}
.main .main-content .m-c-form .notCode {
  margin-top: 37px;
  width: 600px;
  height: 50px;
  color: blue;
  float: left;
}
.main .main-content .m-c-form .notCode p {
  text-align: center;
}
.main .main-content .m-c-form .resigerto {
  margin-left: 50px;
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  background: orange;
  float: left;
}
.main .main-content .m-c-form1 {
  display: none;
  float: left;
  width: 600px;
  margin: 29px 0 0 20px;
  padding-bottom: 78px;
  border-right: 2px dotted #ccc;
}
.main .main-content .m-c-form1 .inputM {
  width: 420px ;
  float: left;
  margin-top: 15px;
}
.main .main-content .m-c-form1 .display-none {
  margin-top: 15px;
  float: left;
  display: block;
  width: 178px;
  height: 37px;
  background: red;
}
.main .main-content .m-c-form1 .notCode {
  width: 600px;
  height: 50px;
  color: blue;
  float: left;
}
.main .main-content .m-c-form1 .notCode p {
  text-align: center;
}
.main .main-content .m-c-form1 .resigerto {
  margin-left: 50px;
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  background: orange;
  float: left;
}
.main .main-content .m-c-sideBar {
  float: right;
  width: 210px;
  margin: 30px 30px 0 0;
  font-size: 14px;
  line-height: 22px;
}
.main .main-content .m-c-sideBar .line1 {
  margin: 0 0 14px;
  padding: 0 0 6px;
  word-break: break-all;
  word-wrap: break-word;
  border-bottom: 1px dotted #ccc;
}
.main .main-content .m-c-sideBar .line1 a {
  color: #0a8cd2;
  text-decoration: none;
}
.main .main-content .m-c-sideBar .reg-help {
  font-size: 12px;
  margin-top: 10px;
}
.main .main-content .m-c-sideBar .reg-help .help-list {
  width: 100%;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.main .main-content .m-c-sideBar .reg-help .help-list li {
  width: 200px;
  margin-top: 5px;
  overflow: hidden;
}
.main .main-content .m-c-sideBar .reg-help .help-list li i {
  float: left;
  margin: 4px 10px 0 0;
  width: 15px;
  height: 18px;
  line-height: 15px;
  text-align: center;
  color: #FFF;
  background: url(../img/bg_listNum.png) no-repeat;
}
.main .main-content .m-c-sideBar .reg-help .help-list li a {
  display: block;
  overflow: hidden;
  *zoom: 1;
  width: 175px;
  float: left;
}
